body, html{
    margin: 0;
    width: 100%;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    background-color: rgb(245, 245, 245);
    justify-content: center;
}
.main{
    width: 50%;
    height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
/* .border{
    width
    height: 5px;
    background-color: rgb(108, 108, 108); */
    /* background: linear-gradient(180deg, rgba(106,168,79,1) 0%, rgba(0,0,0,1) 100%); */
.block{
    background: white;
    width: 100%;
    border-radius: 10px;
    border: gray, solid, 2px;
}
#main_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
.full_name{
    display: flex;
    flex-wrap: nowrap;
    height: min-content;
    color: rgba(0, 0, 0, 0.612);
    font-size: x-large;
    font-weight: 900;
}
#profile_photo{
    width: 160px;
    margin: 15px;
    border-radius: 80px;
}
.contact{
    color: #393939;
    margin: 5px;
}
.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

::-webkit-scrollbar{
    background: #e3f4f0;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #505050;
    width: 5px;
    border-radius: 5px;
}